<link rel="stylesheet" href="../static/css/header.css">
<body>
    <div id="headerlogodiv">
        <h1 id="headerlogoh"><a href="/" id="logohref">Music Explorer</a></h1>
    </div>
    <div id="headermenu">
        <p id="headermenuleft" class="headermenup"><a href="/analyze" class="headerhref">Analyze</a></p>
        <p id="headermenucenter" class="headermenup"><a href="/suggest" class="headerhref">Suggest</a></p>
        <p id="headermenuright" class="headermenup"><a href="/" class="headerhref">Compare</a></p>
    </div>
</body>