<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <meta charset="UTF-8">
    <title>Music Explorer</title>
</head>
<body>
    {% include("header.html") %}
    <div class="cls"></div>
    <div style="margin-left: 6%; margin-top: 50px;margin-bottom: 50px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gVapy-hiZ8U" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="cls"></div>
    {% include("footer.html") %}
</body>
</html>